<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tupu.dao.dict.DictAttributeDao">
    <resultMap id="BaseResultMap" type="com.tupu.domain.dict.DictAttribute">
        <result column="id" property="id"/>
        <result column="en_attribute_name" property="enAttributeName"/>
        <result column="cn_attribute_name" property="cnAttributeName"/>
        <result column="attribute_type" property="attributeType"/>
        <result column="en_attribute_value" property="enAttributeValue"/>
        <result column="cn_attribute_value" property="cnAttributeValue"/>
        <result column="tags" property="tags"/>
        <result column="c_time" property="createTime"/>
        <result column="e_time" property="editTime"/>
        <result column="c_uid" property="createUid"/>
        <result column="e_uid" property="editUid"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, en_attribute_name,cn_attribute_name,tags,attribute_type,en_attribute_value,cn_attribute_value,c_time,e_time,description
	</sql>
    <select id="getDictAttributeList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_dict_attribute
    </select>
    <select id="getDictAttributeById" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from t_dict_attribute
        where id=#{id}
    </select>


    <insert id="saveDictAttribute" parameterType="Attribute" useGeneratedKeys="true" keyProperty="id">
		insert into t_dict_attribute(
		    id,en_attribute_name,cn_attribute_name,attribute_type,tags,`en_attribute_value`,cn_attribute_value,c_time,description)
		values
			(#{id},#{enAttributeName},#{cnAttributeName},#{attributeType},#{tags},#{enAttributeValue},#{cnAttributeValue}, #{createTime},#{description})
	</insert>

    <update id="updateDictAttribute" parameterType="Attribute">
        update
        t_dict_attribute
        set
        <if test="enAttributeName!=null">
            en_attribute_name = #{enAttributeName},
        </if>
        <if test="cnAttributeName!=null">
            cn_attribute_name = #{cnAttributeName},
        </if>

        <if test="attributeType!=null">
            `attribute_type` = #{attributeType},
        </if>
        <if test="tags!=null">
            tags = #{tags},
        </if>
        <if test="enAttributeValue!=null">
            `en_attribute_value` = #{enAttributeValue},
        </if>
        <if test="cnAttributeValue!=null">
            `cn_attribute_value` = #{cnAttributeValue},
        </if>
        <if test="description!=null">
            `description` = #{description},
        </if>
        <if test="editTime!=null">
            `e_time` = #{editTime}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteDictAttribute" parameterType="java.lang.Long">
		delete from
			t_dict_attribute
		where
			id = #{id}
	</delete>

    <select id="checkDictAttributeName" parameterType="Attribute" resultType="INTEGER">
        select count(*) as count from
			t_dict_attribute
		where
			 en_attribute_name = #{enAttributeName}
        <if test="id!=null">
            and id !=#{id};
        </if>

	</select>
</mapper>